<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "schemas/log4j.dtd">

<log4j:configuration>

    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="LOG"/>
    </appender>

    <appender name="LOG" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="organizer.log"/>
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%t] %x %c - %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="info"/>
        <appender-ref ref="ASYNC"/>
    </root>

</log4j:configuration>